<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Workers</title>
	<h:outputStylesheet name="css/styles.css"/>
</h:head>
<h:body>
	<h:form>
		<p:growl />
		<p:commandLink action="#{workersView.create}" update="@form"
			value=" Create" />
		<p:dataTable value="#{workersModel.workers}" var="worker">
			<p:column headerText="Name">
 #{worker.id}. #{worker.name}
 </p:column>
			<p:column headerText="Surname">
 #{worker.surname}
 </p:column>
			<p:column headerText="Operations">
				<p:commandLink
					actionListener="#{workersView.update(worker.id)}"
					update="@form" value=" Update" resetValues="true" immediate="true" />
				<p:commandLink
					actionListener="#{workersView.delete(worker.id)}"
					update="@form" value=" Delete" immediate="true">
					<p:confirm header="Confirm" message="Are you sure you want to delete?"
						icon="ui-icon-alert" />
				</p:commandLink>
			</p:column>
		</p:dataTable>
		<p:outputPanel
			rendered="#{workersModel.workerToEdit != null}">
			<p>Edit form:</p>
			<p>
				<p:outputLabel for="name">Name:</p:outputLabel>
				<p:inputText id="name"
					value="#{workersModel.workerToEdit.name}"
					required="true"></p:inputText>
				<p:message for="name"></p:message>
			</p>
			<p>
				<p:outputLabel for="surname">Surname:</p:outputLabel>
				<p:inputText id="surname"
					value="#{workersModel.workerToEdit.surname}"></p:inputText>
				<p:message for="surname"></p:message>
			</p>
			<p>
				<p:commandButton value="Save"
					actionListener="#{workersView.save()}" update="@form"></p:commandButton>
				<p:commandButton value="Cancel"
					actionListener="#{workersView.cancel()}" update="@form"
					immediate="true"></p:commandButton>
			</p>
		</p:outputPanel>
		<p:confirmDialog global="true">
			<p:commandButton value="Yes" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="No" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
	</h:form>
</h:body>
</html>
